body {
    background-color: #efdbda;
}

#nav, footer {
    font-family: 'Monoton', cursive;
    font-size: 16px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
}

#nav {
    top: 0;
    z-index: 10;
}

footer {
    bottom: 0;
}

#nav li, footer li {
    display: inline;
    list-style-type: none;
}

#nav, #nav li, footer {
    background-color: #FFEAD4;
}

a {
    color: #bf8974;
    text-decoration: none;
}

a:hover {
    color: #e88980;
}

#semi-circle1, #semi-circle2, #semi-circle3 {
    height: 60px;
    width: 40px;
}

#semi-circle1 {
    position: relative;
    top: 180px;
    left: 500px;
}

#semi-circle2 {
    position: relative;
    top: 230px;
    left: 350px;
}

#semi-circle3 {
    position: relative;
    top: 280px;
    left: 500px;
}

header, #bio {
    font-family: 'Poiret One', cursive;
}

header, #bio, #climbing-app, .screenshots, #quiz-app-description {
    position: relative;
}

header {
    color: #9e7855;
    bottom: 60px;
    left: 700px;
    width: 400px;
    height: 100px;
}

#bio {
    color: #93795d;
    line-height: 28px;
    left: 150px;
    top: 400px;
    width: 75%;
}

#climbing-app{
    top: 600px;
    left: 120px;
}

.each-project {
    font-family: 'Monoton', cursive;
    font-size: 28px;
}

.screenshots {
    border: 3px solid #FFEAD4;
    padding: 5px;
}

#quiz-app-mobile {  
    height: 300px;
    width: 170px;
    top: 400px;
    left: 680px;
}

#quiz-app-mobile:hover {  
    height: 500px;
    width: 370px;
    top: 350px;
    left: 580px;
}

#quiz-app-desktop {
    height: 30%;
    width: 30%;
    top: 350px;
    left: 700px;
}

#quiz-app-desktop:hover {
    height: 60%;
    width: 60%;
    top: 300px;
    left: 350px;
}

.screenshots:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#quiz-app-description {
    color: #93795d;
    font-family: 'Russo One', sans-serif;
    top: 640px;
    left: 120px;
    line-height: 24px;
    width: 400px;
}


@media only screen and (min-width: 520px) {

    #nav li, footer li {
        padding-right: 100px;
    }

    #semi-circle1, #semi-circle2, #semi-circle3 {
        height: 120px;
        width: 80px;
    }

}