body {
    background-color: #efdbda;
}
  
#nav, footer {
    font-family: 'Monoton', cursive;
    font-size: 14px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}
  
#nav {
    top: 0;
}
  
footer {
    bottom: 0;
}
  
button, a {
    background:none;
    border:none; 
    color: #bf8974;
    cursor: pointer;
    font: inherit; 
    padding-left: 20px;
}
  
button:hover, a:hover {
    color: #e88980;
}
  
#nav, #nav li, footer {
    background-color: #FFEAD4;
}
  
.background-images, #headline, #bio, .each-project, #quiz-app-description, #quiz-app-mobile, #quiz-app-desktop {
    position: relative;
}
  
.background-images {
    height: 8%;
    width: 8%;
}
  
#semi-circle1 {
    top: 170px;
    left: 90px;
}
  
#semi-circle2 {
    top: 175px;
    left: 30px;
}
  
#semi-circle3 {
    top: 175px;
    left: 90px;
}
  
#headline, #bio {
    font-family: 'Poiret One', cursive;
}
  
#headline {
    bottom: 25px;
    color: #654321;
    font-size: 12px;
    left: 140px;
    height: 50%;
    width: 50%;
}
  
#bio {
    color: #654321;
    font-size: 14px;
    top: 250px;
}
  
.each-project {
    font-family: 'Monoton', cursive;
    top: 340px;
}
  
#quiz-app-description {
    top: 350px;
}

#bio, .each-project, #quiz-app-description {
    padding: 60px;
  }
  
.img-screenshots {
    border: 3px solid #FFEAD4;
    float: right;
    padding: 5px;
}
  
#quiz-app-mobile {  
    height: 50%;
    width: 50%;
    top: 380px;
    right: 80px;
}
  
#quiz-app-desktop {
    height: 75%;
    right: 40px;
    top: 400px;
    width: 75%;
}
  
.img-screenshots:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
#quiz-app-description {
    color: #93795d;
    font-family: 'Russo One', sans-serif;
      
}
  
@media only screen and (min-width: 720px) {

    #headline {
        left: 200px;
        top: -80px;
    }
  
    #quiz-app-mobile {  
      height: 20%;
      right: 80px;
      top: 80px;
      width: 20%;
    }
  
    #quiz-app-desktop {
      height: 45%;
      right: 160px;
      top: 450px;
      width: 45%;
    }
  
    .each-project {
      padding-left: 40px;
    }

    #quiz-app-description {
        width: 50%;
    }
}


@media only screen and (min-width: 1400px) {

    #semi-circle1 {
        top: 140px;
        left: 250px;
    }
    
    #semi-circle2 {
        top: 140px;
        left: 150px;
    }
    
    #semi-circle3 {
        top: 140px;
        left: 250px;
    }

    #headline {
        font-size: 20px;
        top: -260px;
        left: 550px;
        width: 500px;
    }
  
    #bio {
        font-size: 24px;
        padding-left: 150px;
        width: 80%;
    }
  
    .each-project, #quiz-app-description {
      padding-left: 100px;
    }

    #quiz-app-description {
        font-size: 18px;
        width: 50%;
    }
}

  